* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: #064b56;
  --secundary-color: #fff1cc;
  --shadow-color: #ccc;
  --text-color: #fff;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "karla", sans-serif;
  position: relative;
}
